@model IEnumerable<DeviceReport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=dYbPZG1sF7rFATdGcubWmTtm9wF8KRI8">
</script>

<div style="width:auto;height:700px;border:#ccc solid 1px;" id="container"></div>

<script type="text/javascript">
    var opts = {
        width : 250,
        height: 80,
        title : "戴维医疗" ,
        enableMessage:true
    };
    function addClickHandler(content,marker){
        marker.addEventListener("click",function(e){
            openInfo(content,e)}
		);
    }
    function openInfo(content,e){
        var p = e.target;
        var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
        var infoWindow = new BMap.InfoWindow(content,opts);
        map.openInfoWindow(infoWindow,point);
    }
    function addMarker(point,content){
        var marker = new BMap.Marker(point);
        marker.enableDragging();
        map.addOverlay(marker);
        addClickHandler(content, marker);
    }
    var map = new BMap.Map("container");          // 创建地图实例

    @foreach (var deviceReport in Model)
    {
    <text>
    // 创建点坐标
    var point = new BMap.Point(@deviceReport.device.Longitude, @deviceReport.device.Latitude);
    var label = new BMap.Label("@deviceReport.device.Model",{offset:new BMap.Size(-20,-20)});
    var content = "型号:" +"@deviceReport.device.Model"
        + " 生产日期:" +"@deviceReport.device.ProductionDate.ToString()"
        + " 地址:" + "@deviceReport.device.LocationAddress"
        + " 肤温:" + "@deviceReport.report.SkinTemperature"
        + " 箱温:" + "@deviceReport.report.BoxTemperature"
        + " 湿度:" + "@deviceReport.report.Humidity"
        + " O2:" + "@deviceReport.report.Oxygen";
    addMarker(point, content);
    </text>
    }
    map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别
    //map.addControl(new BMap.NavigationControl());
    //map.addControl(new BMap.ScaleControl());
    //map.addControl(new BMap.OverviewMapControl());
    //map.addControl(new BMap.MapTypeControl());
</script>
